@font-face {
  font-family: 'Gotham Light';
  src: url("/fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: 'Gotham Bold';
  src: url("/fonts/Gotham-Bold.otf") format("opentype");
}

body {
	font-family: 'Gotham Light';
}

h1 {
	font-weight: bold;
	font-family: 'Gotham Bold';
	font-size: ;
}

.msg-text {
	border: 1px solid black;
	padding: 4px;
	border-radius: 5px;
	width: 350px;
	margin: 15px;
}

#login {
	float: right;
}

#msgInput input textarea {
	padding: 1em;
	border: 1px solid #ccc;
	height: 25px;
	color: blue;
}

#tweet-submit {
	padding: 0.5em 1em;
	background-color: #50b1ff;
	border: none;
	-webkit-transition: background-color 300ms;
	transition: background-color 300ms;
	color: #FFF;
	font-family: 'HelveticaNeue-Light';
	font-weight: normal;
}